@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
body{
  height: 100vh;
}

/* Heading Start */
header{
  height:20vh;
}


h1{
  font-size: 3.6rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: black;
  margin-top: 1.5rem;
  padding:1.5rem;
  border-top:0.5rem inset #ff4da6;
  border-bottom:0.5rem inset #ff4da6;

}

 .glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
} 


@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}  
/* Heading End */

/* Social Media Links Start */

ul{  
  position:fixed;
  display: flex; 
  justify-content:flex-end;
  list-style: none;
  bottom:0;
  right:0;
}
ul li{
  margin:1.5rem;
  
}

.fab {
  font-size: 2rem;
  color:white;
  background-color:rgb(27, 3, 37);
  width:4.5rem;
  height:4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50% ; 
  border:0.3rem inset #ff4da6; 
}
/* Social Media Links End */

/* img & countdown */
.container-center{
  display:flex;
  justify-content:center;
  align-items:center;
}
h3{
  font-size: 2rem;
  margin-right: 1rem;
}
/* countdown start */
#clockdiv{
  display:flex;
}
.ct{
  display:flex;
  width:10rem;
  flex-direction: column;
  text-align: center;
  margin-right:0.3rem;
  border:1rem outset rgb(20, 20, 20);
  font-size:2rem;
  background-color:#49494b;
  color:#fff;
  font-weight: bolder;    
  border-radius: 0.5rem;
}

.smalltext{
  background-color: rgb(20, 20, 20);
  font-size: 1.1rem;
}
.cs-col{
  display: flex;
  flex-direction: column;
}

/* countdown end */

@media only screen and (max-width:1575px){
    h1{
      font-size:2.8rem;
    }
}

@media only screen and (max-width:1350px){
  h1{
    font-size: 2.1rem;
  }
  .container-center{
    flex-direction: column;
    margin-top: 0rem;
  }
  ul{
    justify-content: center;  
    position:static
  } 
  .fab{
    width:4rem;
    height:4rem;
    font-size: 1.8rem;
  }
    img{
    width:480px;
    margin-top:-2.5rem;
  }
}

@media only screen and (max-width:940px){
  h1{
    font-size:1.9rem
  }
  img{
    width:400px;
    margin-top:-1rem;
  }
}

@media only screen and (max-width:700px){
 .ct{
   width:8rem;
 }
 .fab{
   width:3.5rem;
   height:3.5rem;
   font-size: 1.7rem;
 }
  img{
    width:400px;
  }
}

@media only screen and (max-width:600px){
  .ct{
    width:6rem;
    font-size: 1.5rem;
  }
  .smalltext{
    font-size: 0.7rem;
  }
  h3{
    font-size:1.6rem;
  }

  ul{
    margin-top:1rem;
  }
  .fab{
    width:3.0rem;
    height:3.0rem;
    font-size: 1.5rem;
  }
   img{
     width:400px;
   }
 }

 @media only screen and (max-width:475px){
   h1{
     font-size: 1.6rem;
     margin-top: 0.5rem;
   }
  .ct{
    width:4.5rem;
    font-size: 1.2rem;
  }
  .smalltext{
    font-size: 0.5rem;
  }
  .fab{
    width:2.8rem;
    height:2.8rem;
    font-size: 1.5rem;
  }
   img{
     width:380px;
   }
 }
